.idea/
node_modules/
frontend/
profile_photos/
temp/
dataset/
uploads/
bower_components/
*.log
public/bower_components/
public/images/
public/Tiles/
.vs/Cartoscope/v15/.suo
build/config.gypi
bin/Microsoft.NodejsTools.WebRole.dll
Cartoscope.njsproj
obj/Debug/Cartoscope.njsproj.CoreCompileInputs.cache
obj/Debug/Cartoscope.njsproj.FileListAbsolute.txt
obj/Debug/Cartoscope.njsprojAssemblyReference.cache
package-lock.json
