<div class="container-fluid">


<center>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p class="h1">Follow-up Survey</p></div>
        <div class="col-md-4"></div>
    </div>

    <div class="row" ng-if="!cover_pic_path.includes('default')">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img  src="images/logo_color.png"  alt="logo" style="width: 120px; height: 60px">
            <img  ng-src="{{cover_pic_path}}" alt=" logo" style="width: 120px; height: auto;margin-left: 5px"/>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" ng-if="!custom_description">
            <h4>Thank you for taking the time to participate in this project. Your participation is invaluable.
                To improve the project and our software we would like to get some feedback on your experience.
                Please take a few moments to complete this questionnaire and feel free to provide any additional comments
                you would like to share with us.
            </h4>
        </div>
        <div class="col-md-8" ng-if="custom_description">
            <h4>
                {{custom_description}}
            </h4>
        </div>
        <div class="col-md-2"></div>

    </div>

    <hr class="hr-black-line">

    <form  name="forms.mturk_form" >
        <center>


        <div class="row" ng-repeat="suv in survey_questions">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8">
                <hr class="black-line">


            <div ng-switch="suv.question_type ">

                <!--Title-->
                <div ng-switch-when="title" class="form-group ">
                        <h4>{{suv.question}}</h4>
                </div>
                <!--Text-->
                <div ng-switch-when="text" class="form-group ">
                        <h4>{{suv.question}}</h4>
                </div>

                <!--Text area-->
                <div ng-switch-when="textarea" class="form-group ">

                        <h4>{{suv.question}}
                            <span  title="This question is required." class="required_answer" ng-if="req_answers || suv.required" >
                                <b style="font-size: 25px">*</b>
                            </span>
                        </h4>
                        <textarea class="form-control" rows="3"  ng-model="suv.answer"></textarea>

                </div>

                <!--LIKERT-->
                <div ng-switch-when="likert" class="form-group ">
                        <h4>{{suv.question}}
                            <span  title="This question is required." class="required_answer" ng-if="req_answers || suv.required" >
                                <b style="font-size: 25px">*</b>
                            </span>
                        </h4>
                        <label class="col-form-label" >{{suv.least}}</label>
                        <label class="col-form-label" ng-repeat="n in getNumber(suv.value)">
                            <input type="radio" name="{{suv.question}}" style="margin:20px" ng-model="suv.answer" ng-value=n   />
                        </label>
                        <label class="col-form-label" >{{suv.most}}</label>
                </div>

                <!--RADIO-->
                <div ng-switch-when="radio" class="form-group ">
                        <h4>{{suv.question}}
                            <span   title="This question is required." class="required_answer" ng-if="req_answers || suv.required" >
                                <b style="font-size: 25px">*</b>

                            </span>
                        </h4>
                        <label class="col-form-label" ng-repeat="opt in suv.options">
                            <input type="radio" name="{{suv.question}}" style="margin:20px" ng-model="suv.answer" ng-value=opt /> {{opt}}
                        </label>
                        <p ng-if="suv.answer.toLowerCase().includes('other')">Please describe:</p>
                        <textarea ng-if="suv.answer.toLowerCase().includes('other')" class="form-control" rows="3" cols="50" ng-model="suv.other_text"></textarea>
                </div>

                <!--CHECKBOX-->
                <div ng-switch-when="checkbox" class="form-group ">
                        <h4>{{suv.question}}
                            <span  title="This question is required." class="required_answer" ng-if="req_answers || suv.required" >
                                <b style="font-size: 25px">*</b>
                            </span>                        </h4>
                        <label class="col-form-label" ng-repeat="opt in suv.options">
                            <input type="checkbox" name="{{suv.question}}" style="margin:20px" ng-model="suv.answer[opt]" ng-value=opt   /> {{opt}}
                        </label>
                        <p ng-if="suv.answer.toLowerCase().includes('other')">Please describe:</p>
                        <textarea ng-if="suv.answer.toLowerCase().includes('other')" class="form-control" rows="3" cols="50" ng-model="suv.other_text"></textarea>

                </div>

                <!--External-->
                <div ng-switch-when="external" class="form-group external-box ">
                    <h3> <b>{{suv.disclaimer}} </b></h3>
                    <br>
                    <h4>{{suv.question}}</h4>
                    <!--<iframe  class="embed-responsive-item" ng-src="{{suv.external_link}}"></iframe>-->
                    <iframe id="iframe_div2"
                            ng-src="{{getExternalFrame(suv.external_link)}}"
                            ng-style="suv.external_style"
                    ></iframe>

                </div>

                <div ng-switch-default></div>
            </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>




        <br>

        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-10">
            <div class="form-group ">
            <h4>In the space provided, please provide any additional feedback you would like to share on this project.
            </h4>
            <textarea  class="form-control" rows="3"  ng-model="response.additional_text"></textarea>
            </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>

        </div>


        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4>Thank you for your time and your thoughts! Click Submit to complete your submission.
                </h4>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
        <div class="row">
            <button type="submit" ng-click="submit(mturk_form)" class="btn btn-lg btn-success marginBottom"
                    style="color:black;">Submit</button>
        </div>
            </div>
            <div class="col-md-4 col-sm-4"></div>

        </div>
        </center>

    </form>

    </center>

</div>




