<!--Sci Starter -->
<div class="row" ng-if="has_scistarter_link && scistarter_contributions">
    <a target="_blank" ng-href="{{sci_starter_link}}" style="text-decoration: none;" >
    <div class="sciStarterBanner">
    <h5>
        <span><img width="20px" src="https://scistarter.org/favicon.ico"></span>
        Good Job! You contributed {{scistarter_contributions}} images. Click here to report your contributions to SciStarter.
    </h5>
    </div>
    </a>
</div>
<div class="row" style="background-color: white;text-align:center;">
   <h1 class="">How You Helped </h1> 
</div>
<div class="row" style="background: #F6F4F3;"> 
<div class="container">

    <center>


    <div class="row">
        <!-- <h3>Contributions So Far</h3> -->

        <p> Below you can see how
            you and other people have contributed to the project. The heatmap visualization corresponds to everyone's contributions.
            Your personal contributions are indicated by colored markers. Each color corresponds to the category you chose.
            You can click on any marker to see the corresponding image.
        </p>
    </div>




        <div class="row">
        <div id="map_canvas" ng-if="callSuccess">

            <ui-gmap-google-map center="map1.center" zoom="map1.zoom" draggable="true" options="options" bounds="map1.bounds">
                <!--<ui-gmap-markers  ng-hide="showMarkers" models="workerResultsTransformed" coords="'self'" icon="'icon'" events="map1.markersEvents">-->

                    <!--<ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" templateUrl="'templateUrl'" templateParameter="'templateParameter'" ng-cloak>-->
                    <!--</ui-gmap-windows>-->
                <!--</ui-gmap-markers>-->
                <ui-gmap-layer  namespace="visualization" type="HeatmapLayer" show="map1.showHeat" onCreated="map1.heatLayerCallback"></ui-gmap-layer>

                <div style="position:relative">
                <ui-gmap-markers models="pointMarkersVisible" coords="'self'" icon="'icon'" events="map1.markersEvents">

                    <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" templateUrl="'templateUrl'" templateParameter="'templateParameter'" ng-cloak>
                    </ui-gmap-windows>
                </ui-gmap-markers>

               </div>
                <ui-gmap-map-control position="top-center" index="1">
                    <div ng-show="showMarkers"  >

                        <button class="btn black " placeholder="All"
                                ng-click="update_selection('all');">View All</button>
                        <button class="btn black " placeholder="User"
                                ng-click="update_selection('user');">View User</button>

                    </div>
                </ui-gmap-map-control>

            </ui-gmap-google-map>

           
        </div>
    </div>
        
        <div class="row legend_contributions_dataset"> 
            <div class="legend_contributions">
                <h3>Legend</h3>
                <div class="row" style="margin-top:-1em; margin-left: -5em;">
                    <div class="col col-lg-6 contributions_options">
                        <h5><strong>My Contributions</strong></h5>
                        <div ng-repeat="itm in legendObject" style="margin-left: -5em; "><img src="{{itm.image}}" > {{itm.key}}</div>
                    </div>
                    <div class="col col-lg-6  contributions_options">
                        <h5><strong>Everyone's Contributions</strong></h5>
                        <div class="options_contributions" style=" color: #000; background-color: {{itm.color}};border-color: {{itm.color}};" ng-repeat="itm in options">{{itm.name}}</div>
                    </div>
                </div>
                
            </div>
            <div class="change_dataset" ng-if="callSuccess">
    
                    <h3 class="" style=" text-transform: none">Change Category</h3>
    
                <div class="col-lg-2 col-md-2"></div>
                <div ng-hide="showMarkers" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 contributions_options">
                    <button class="btn btn-lg black btn-primary" placeholder="Option" ng-repeat="option in options"
                            style="color: #000; background-color: {{option.color}};border-color: {{option.color}};
                       border:2px solid {{option.color}};margin-right:10px;" ng-click="update_heatmap(option.ncolor,'map1');">{{option.name}}</button>
                    <!--<button class="btn-lg black" placeholder="Show All"-->
                            <!--style=" background-color: #FF69B4; border-color: #FF69B4;-->
                    <!--border:2px solid #FF69B4;" ng-click="update_heatmap('all','map1');">Show All</button>-->
                </div>
                    <div ng-show="showMarkers" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 contributions_options">
                        <button class="btn btn-lg black btn-primary" placeholder="Option" ng-repeat="option in options"
                                style=" color: #000; background-color: {{option.color}};border-color: {{option.color}};
                       border:2px solid {{option.color}};margin-right:10px;" ng-click="update_Markers(option.ncolor,'map1');">{{option.name}}</button>
                        <!--<button class="btn-lg black" placeholder="Show All"-->
                        <!--style=" background-color: #FF69B4; border-color: #FF69B4;-->
                        <!--border:2px solid #FF69B4;" ng-click="update_heatmap('all','map1');">Show All</button>-->
                    </div>

                <div class="col-lg-2 col-md-2"></div>
            </div>
        </div>
       
        
        <!--<center><h5 ng-if="callSuccess">{{unique_images1}} images tagged so far by {{unique_workers1}} people</h5></center>-->

            <div ng-show="showMarkers" class="row" style="margin-top: 10px;">
                <center>
                    <button class="btn btn-primary" placeholder="Option"
                            ng-click="update_Markers('reset','map1');">Reset Markers</button>
                </center>
            </div>
            </div>
    </center>
</div>
</div>

<div class="row">
    <div class="container">
        <center>
    <div class="row" ng-if="proj_data.external_sign_up">
        <div class="col-md-1"></div>
        <div class="col-md-10">

        <iframe id="iframe_div2"
                ng-src="{{getExternalFrame(proj_data.external_sign_up)}}"
                style="width: 100%;height:800px"
        ></iframe>
        </div>
        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <h3>Thank you for your time!</h3>
        <p ng-if="showSource" ><a style="color: black;" target="_blank" ng-href="{{image_source}}">
            Image Source</a>
        </p>
    </div>

    <div class="row">

        <button class="btn btn-lg btn-primary exitButtoms"  ng-click="exit()">{{exit_text}}</button>


    </div>

    <div class="row" ng-if="is_landloss">
        <button  class="btn btn-lg btn-primary exitButtoms" ng-click="landlossResults()">View Results from all projects</button>
    </div>

    </center>
    </div>
    <br/>
    <br/>
    <br/>
<!--get project code for the legend-->
<p style="display: none" id="pcode">{{project}}</p>
<input type="button"  id="projectValuePlace" value={{projectCodeForHeatMapHTML}} ng-show=false>
</div>