<div class="container-fluid h-100" style="background-color: #3e8f3e; text-align-last: center;" ng-controller="ResetPasswordController">
    <div class="login-top-panel">
        <a ui-sref="noLoggedIn"> <img src="images/carto-logo-tw.png" style="max-width: 150px;overflow: hidden;margin-bottom: 10px"></a>
        <label class="reg-lbl" id="passwordreset">
            Enter new password :
        </label>
        <label class="reg-lbl" id="username">
            Password *
            <input class="inp" placeholder="PASSWORD" type="password" style="text-align-last: left;" ng-model='resetPassword.password'>
        </label>
        <label class="reg-lbl" id="useremail">
            Reenter Password *
            <input class="inp" placeholder="PASSWORD" type="password" style="text-align-last: left;" ng-model='resetPassword.spassword'>
        </label>
        <button class="login-btn" ng-click="resetpassword()">
            Reset
        </button>
    </div>
</div>