<div class="center-1">

        <div class="container-fluid">
            <div class="col-md-6">
                <img src="../../images/logo_color.png" alt="logo" style="width: 200px; height: 100px; margin-top: 40px;">
            </div>

            <div class="content-links-wrapper col-md-6" style="font-size: 1em; margin-top: 40px;">
                <span>
                    <a href="about.html">ABOUT</a>
                </span>
                <span class="circ-sep"></span>
                <span>
                    <a href="/#/results">RESULTS</a>
                </span>
                <span class="circ-sep"></span>
                <span class="selected">
                    <a href="termsOfUse.html">TERMS OF USE</a>
                </span>
            </div>
        </div>

        <div class="container-fluid" ng-controller="kioskController" style="margin-top: 40px; text-align: center">
            <h2 class="col-sm-12" style="color: white;font-size: 36px;"><b>WELCOME TO</b></h2>
            <h1 class="col-sm-12" style="color: #9CDC18;font-size: 36px;"><b>ALGAL BLOOM TRACKING</b></h1>
            <p style="font-size: 24px; font-weight: 400;color: black; margin-top: 40px">
                <i>
                    Cyanobacteria can have negative impacts on drinking, fishing and recreational<br>
                    waters. In 2014 toxic algal blooms left 500,000 people in the Northwest Ohio without water.
                    <br>Help researchers model how algae spreads by monitoring and analyzing aerial images of Lake Erie.
                </i>
                </i>
            </p>

            <button ng-click="begin()" style="    margin-top: 20px;
    border-radius: 8px;
    background-color: #9cdc1f;
    color: #000;
    font-size: 18px;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px 25px;">
                Start Contributing
            </button>
        </div>
    </div>
</div>