<h1 class="title">Consent Form</h1>
<div class="content">

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <b>Northeastern University,</b></br>
            <b>Department of: Computer and Information Science; Health Sciences</b>
            <br/>
            <b>Name of Investigator(s): Seth Cooper; Sara Wylie</b>
            <br/>
            <b>Title of Project: Crowdsourced Data Analysis and Mapping</b>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-md-12 col-sm-10 col-xs-10"><p class="h5"><b>Request to Participate in Research</b></p></div>
        <div class="col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>We would like to invite you to participate in a web-based online crowd sourcing task.
            The task is part of a research study whose purpose is to examine how different variations in the presentation
            of crowd sourced data analysis and mapping can affect accuracy and engagement. You may receive a different
            interface with different task parameters than other participants. Your interaction data will be recorded
            and analyzed. This task should take about 20 minutes to complete.</p></div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>We are asking you to participate in this study because you are a member of Amazon’s
                Mechanical Turk - a crowdsourcing platform.
                <b>You must be fluent in English and be at least 18 years old to take this survey.</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><b>The decision to participate in this research project is voluntary.</b>
                You do not have to participate and you can refuse to participate in the task.
                Even if you begin the web-based online task, you can stop at any time.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><b>There are no foreseeable risks or discomforts to you for taking part in this study.</b>
                <b>There are no direct benefits to you from participating in this study.</b>
                However, your responses may help us learn more about engagement and performance in citizen science.
                <b>For completing the task, you will receive a payment as indicated on your crowdsourcing platform.</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Your part in this study is anonymous to the researchers. However, because of the nature of web-based tasks,
                it is possible that respondents could be identified by the IP address or other electronic record associated with
                the response. Neither the researcher nor anyone involved with this study will be capturing those data. Any
                reports or publications based on this research will use only group data and will not identify you or any individual
                as being affiliated with this project. The only individually-identifying data we receive from Mechanical Turk
                are your unique identifier and your country. Your data are also stored on Mechanical Turk's servers, and the
                data there are subject to the Amazon Mechanical Turk Privacy Notice and Participation Agreement.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
            <p><b>If you have any questions regarding electronic privacy,</b> please feel free to contact Mark Nardone, NU’s
                Director of Information Security via phone at 617-373-7901, or via email at privacy@neu.edu.
            </p>
            <p><b>If you have any questions about this study,</b> please feel free to contact Seth Cooper, Email:
                seth.cooper.study@gmail.com, or Sara Wylie, Email: s.wylie@neu.edu, the people mainly responsible for the
                research.
            </p>
            <p>
                <b>If you have any questions regarding your rights as a research participant,</b> please contact Nan C. Regina,
                Director, Human Subject Research Protection, Mail Stop: 560-177, Northeastern University, Boston, MA 02115.
                Tel:
                617.373.4588, Email: n.regina@neu.edu. You may call anonymously if you wish.
            </p>
            <p>
                <b>This study has been reviewed and approved by the Northeastern University Institutional Review Board
                    (#16-05-17).</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
            <p>Thank you for your time.</p>
            <p>Seth Cooper and Sara Wylie</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
            <p><b>By clicking on the link below you are indicating that you consent to participate in this study. Please print
                out a copy of this consent form for your records.</b>
            </p>
        </div>
    </div>

    <div class="agree-btn-row">
        <button ng-click="agree()" class="consent-button">Agree</button>
    </div>
</div>