<div class="container">
    <div class="row col-lg-12 col-lg-offset-1">
        <h4> As seen below, each example represents an image and the correct label associated with it.
            Click 'Start' to begin</h4>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../../images/no-bridge.jpg" style="width:350px;height:300px;">
            <input placeholder="Option" value="No Bridge"
                   class="center-block" style="background-color: #9cdc1f;border-color: #9cdc1f;border: 2px solid #9cdc1f;
    outline: none;padding-left: 5px; border-radius: 20px;color:black;text-align: center; font-weight: bold; width: 20em;">

        </div>
        <div class="col-md-4">
            <img src="../../images/one-destroyed-bridge.jpg" style="width:350px;height:300px;">



            <input placeholder="Option" value="Only 1 Destroyed Bridge"
                   class="center-block" style="background-color: #FFF200;border-color: #FFF200;border: 2px solid #FFF200;
    outline: none;padding-left: 5px; border-radius: 20px;color:black;text-align: center; font-weight: bold; width: 20em;">

        </div>
        <div class="col-md-4">
            <img src="../../images/one-damaged-bridge.jpg" style="width:350px;height:300px;">

            <input placeholder="Option" value="Only 1 Damaged Bridge"
                   class="center-block" style="background-color: #F7941D;border-color: #F7941D;border: 2px solid #F7941D;
    outline: none;padding-left: 5px; border-radius: 20px;color:black;text-align: center; font-weight: bold; width: 20em;"
            >
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-2">
            <img src="../../images/one-undamaged-bridge.jpg" style="width:350px;height:300px;">

            <input placeholder="Option" value="Only 1 Undamaged Bridge"
                   class="center-block" style="background-color: #DC1F3A;border-color: #DC1F3A;border: 2px solid #DC1F3A;
    outline: none;padding-left: 5px; border-radius: 20px;color:black;text-align: center; font-weight: bold; width: 20em;">
        </div>
        <div class="col-md-4">
            <img src="../../images/more-than-one-bridge.jpg" style="width:350px;height:300px;">

            <input placeholder="Option" value="More Than 1 Bridge"
                   class="center-block" style="background-color: #0072BC;border-color: #0072BC;border: 2px solid #0072BC;
    outline: none;padding-left: 5px; border-radius: 20px;color:black;text-align: center; font-weight: bold; width: 20em;">
        </div>
    </div>

    <div class="row agree-btn-row">
        <button class="consent-button" ng-click="start()">Start</button>
    </div>

    <!--<img src="images/example1.png" style="max-width: 600px;">-->
    <!--<div class="agree-btn-row">-->
        <!---->
    <!--</div>-->
</div>