<div class="center-1"  >
    <div class="col-sm-8 col-sm-offset-2" style="color: white;background-color: rgba(0,0,0,0.3);border-radius: 25px;">
        <h1 class="welcomemessage text-center">About Cartoscope</h1>
        <div class="welcometext text-center" >
            <p>
                Cartoscope is platform for citizen science through crowdsourced data analysis and mapping.
                By sorting, labelling, and locating images, community members can contribute to a variety of
                mapping projects, such as disaster response. Each member’s contribution adds up! Organizations
                can create their own projects and invite participants to help assist with their missions.
            </p>
            <p>
                This project builds on Public Lab's MapMill Project: <a style="color:#9ACA3C;" href="https://mapmill.org/">https://mapmill.org</a>. For more on Public Lab see
                <a style="color:#9ACA3C;" href="https://publiclab.org">https://publiclab.org</a>.
            </p>

            <h3 class="welcomemessage">Credits</h3>

            <p>
                Sophie Spatharioti, Lorna Dsilva, Vasanti Mahajan, Rick Menasce, Shubhi Mittal, Kisalaya Prasad,
                Nitin Shetty, Becca Govoni
            </p>


            <h3 class="welcomemessage">
                Principal Investigators
            </h3>
            <p>
                Seth Cooper, Sara Wylie
            </p>


            <h3 class="welcomemessage">
                Contact us:
            </h3>
            <p> <a style="color:#9ACA3C;" href="mailto:contact@cartosco.pe">contact@cartosco.pe </a></p>


            <h3 class="welcomemessage" >
                Supported by
            </h3>
            <p>
                Google, Northeastern University, Public Lab and New World Foundation
            </p>


            <p class="welcomemessage">
                Any opinions, findings, and conclusions or recommendations expressed in this material
                are those of the author(s) and do not necessarily reflect the views of supporting organizations.
            </p>
        </div>
    </div>
</div>