<div class="project-creation-parent">
    <div class="top-panel">

    </div>
    <div style="flex: 1;">
        <div class="tab-body">
            <div class="tabs" style="width: 100%;align-self: flex-start;">
                <span ui-sref="root.hubProjectCreation.step1({hub: hub})"
                      ng-class="{'active': isActive('root.hubEdit.step1')}">
                    BASIC INFO
                </span>
                <span ui-sref="root.hubProjectCreation.step2({hub: hub})"
                      ng-class="{'active': isActive('root.hubEdit.step2'), 'greyed-out':!hub.id}">
                    CHOOSE SUBPROJECTS
                </span>
                
                <span style="clear: both;display: none"></span>
            </div>
            <div class="steps-view">
                <div ui-view="createProjChildView">

                </div>
                <div style="flex-grow:1">

                </div>
                <div>
                    <button class="next-btn bottom-btn" ng-click="goNext()" ng-disabled="validate()">{{getNextText()}}
                    </button>
                </div>
            </div>


            <div class="modal fade" tabindex="-1" role="dialog" id="publishPopup">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Publish</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="publish()">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>