<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks Preview</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/3.0.0/angucomplete-alt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
    <script src="//code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
    <script src="script/task.js"></script>
    <script src="node_modules/ngmap/build/scripts/ng-map.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL32H2arSyCcBfcD49o1wG32pkHaNlOJE"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body ng-app="taskApp" ng-controller="defaultController" ng-class="{'mask': uiMask.show}">
<div class="ui-mask-modal">

</div>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-2 side-1">
            <div class="side-content">
                <div class="side-content-wrapper">
                    <div class="profile-stats">
                        <div class="stats">
                            <span class="score">299</span>
                            <span class="lvl">MASTER</span>
                        </div>
                        <img class="profile-pic" src="images/default-no-profile-pic.png" ng-src="{{user.profilePic}}"
                             ui-sref="root.home">
                    </div>
                    <div class="filler">
                        <div class="fill">

                        </div>
                    </div>
                    <div class="side-contrib-btn">
                        CONTRIBUTE
                    </div>
                    <div class="side-menu-btns">
                        <div class="main-link" ui-sref="root.userProfile" ui-sref-active="active">
                            Profile
                        </div>
                        <div class="main-link" ui-sref="root.getAllProjects" ui-sref-active="active">
                            All Projects
                        </div>
                        <div class="main-link" ui-sref="root.projects" ui-sref-active="active">
                            My Projects
                        </div>
                        <div class="main-link" ui-sref="root.hubs" ui-sref-active="active">
                            My Hub Projects
                        </div>
                        <div class="main-link" ng-click="logout()">
                            Sign Out
                        </div>
                    </div>
                </div>

                <div class="links-wrapper">
                    <ul class="link-ul">
                        <li><a ui-sref="root.about" ui-sref-active="active">ABOUT US</a></li>
                        <li><a ui-sref="root.contact" ui-sref-active="active">CONTACT US</a></li>
                        <li><a ui-sref="root.terms" ui-sref-active="active">TERMS AND CONDITIONS</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-10 view" ui-view style="padding:0;margin:0;">

        </div>
    </div>
</div>

<!--<div ui-view class="parent-view container-fluid">-->

</div>
</body>
</html>