<!--
File for uploading Tutorial of the projects.
-->
<div class="step-4 step-2">

    <div class="holder">

        <span class="txt" >Tutorial</span>


        <div class="buttons"  >

            <div class="upload-button" ng-class="{'active': existingImages == 0}" ng-click="existingImages = 0">
                <span class="title"><i class="fa fa-check-circle sel-check"></i>External Images</span>
                <span class="msg">Upload other images for the tutorial.</span>
            </div>

            <div class="upload-button" ng-class="{'active': existingImages == 1}" ng-click="existingImages = 1;">
                <span class="title"><i class="fa fa-check-circle sel-check"></i>Choose Existing</span>
                <span class="msg"> Choose tutorial images from the uploaded dataset.  </span>

            </div>


            <div style="clear: both;">

            </div>

        </div>


        <!--if we upload external-->
        <div ng-show="!existingImages">


        <br>

        <div class="txt">
            <span ng-show="existingImages == 0" >
                You must upload a .zip or .tar file containing the images you would like to use as tutorial items AND
                a .csv file with the following information:
            </span>
            <span ng-show="existingImages == 1" >You must upload a .csv file with the following information:</span>

            <span ng-show="project.task.selectedTaskType == 'ngs'" >poi_name,</span>
            image_name,answer,explanation
            <span ng-show="project.task.selectedTaskType != 'tagging'" >x,y,zoom</span>



        </div>

            <div class="txt" ng-show="project.ar_ready == 1">

                For Tile-o-Scope AR: Please ensure that at least one category has two examples images, as pairs are required for the AR tutorial!

            </div>

        <br>



        <div >

            <span class="txt">
            Upload File
            </span>
            <br>

            <form >
                <button class="btn" ngf-select="" ng-model="file" >Select File</button> <span class="txt">{{file.name}}</span>
                <br>
                <br>
                <button type="submit" class="invite-btn" ng-click="sendTutorialLocal()" ng-disabled="received_code">IMPORT</button>
            </form>

            <span class="msg">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="txt">
                  You can leave this page after uploading.
                </span>
            </span>
        </div>



        <div>
            <!--<span ng-show="project.dataSetID" class="txt">-->
            <!--Data set successfully uploaded. You can check the progress <a href="{{getProgressUrl()}}"-->
            <!--target="_blank">here</a>-->
            <!--</span>-->
            <div  ng-show="showUploadProgress">
                <div class="progress" style="width:50%;margin-left: 1%;">
                    <div  class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="{{progressPercentage}}"
                          aria-valuemin="0" aria-valuemax="100" ng-style="uploadProgressStyle">
                    </div>
                </div>
                <span ng-hide="received_code" class="txt"> Upload Progress </span>
                <span ng-show="received_code" class="txt">
                Data set successfully uploaded. You can check the progress <a href="{{getProgressUrl()}}"
                                                                              target="_blank">here</a>
                </span>
            </div>
        </div>


    </div>


        <div ng-show="existingImages && !dataset_image_list.length && !dataset_image_list.length ">
            <div class="txt">
                Waiting for items to load...
            </div>

        </div>

        <!--if we choose from dataset-->
        <div ng-show="existingImages && dataset_image_list.length && dataset_image_list.length ">

            <div ng-repeat="item in tutorial_items">

                <div  class="row">
                    <p class="txt"> Tutorial item: {{$index}}</p>
                </div>


                <div class="row txt" >

                    <div class="col-md-1">
                        Order
                        <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                           data-placement="right" style="color: #9cdc1f;"
                           title="You can move items up and down to adjust the order with which you want people to encounter tutorial items.">
                        </i>
                    </div>

                    <div class="col-md-3" >
                        <span>
                        Image Name
                            <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                               data-placement="right" style="color: #9cdc1f;"
                               title="The name of the image file. Warning icons indicate the image you have uploaded is not in the original dataset uploaded.">
                            </i>
                    </span>
                    </div>
                    <div class="col-md-2" >
                        <span>
                            Preview <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                                      data-placement="right" style="color: #9cdc1f;"
                                      title="Click on the image to see it bigger."></i>
                        </span>
                    </div>
                    <div class="col-md-2" >
                        <span>
                        Answer:
                            <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                                         data-placement="right" style="margin-left: 10px;color: #9cdc1f;"
                                         title="Pick the correct answer for this image.">
                            </i>
                        </span>
                    </div>
                    <div class="col-md-2" > Ask User?
                        <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                                                data-placement="right" style="color: #9cdc1f;"
                                                title="If you wish to test users by letting them choose the correct answer, check the box.
                                                If you want to use this slot as an information slide, keep this box unchecked.
                                                Only the image and explanation will be shown in this case. ">
                    </i>
                    </div>

                </div>

            <div class="row" >


                <div class="col-md-1"   >
                <span class="" ng-if="$index > 0" ng-click="moveUp($index)" style="color:#9cdc1f;cursor: pointer;">
                    <span class="fa fa-arrow-circle-up"></span>
                 </span>
                    <span class="disabled" ng-if="$index == 0"  >
                        <span class="fa fa-arrow-circle-up"></span>
                 </span>
                    <span class="" ng-if="$index < tutorial_items.length - 1" ng-click="moveDown($index)" style="color:#9cdc1f;cursor: pointer;">
                        <span class="fa fa-arrow-circle-down"></span>
                    </span>
                    <span class="disabled" ng-if="$index == tutorial_items.length - 1"  >
                        <span class="fa fa-arrow-circle-down"></span>
                 </span>

                </div>

                <!-- image picker-->
                <div class="col-md-3" ng-if="item.in_dataset"   >
                    <select class="form-control" ng-model="item.image_name" >
                        <option ng-repeat="x in dataset_image_list" value="{{x}}" > {{x}}
                        </option>
                    </select>
                </div>



                <div class="col-md-3" ng-if="!item.in_dataset" >
                    <span style="color: #9cdc1f;" style="top:0px;">
                        <small>
                    <span class="fa fa-warning "></span>
                        {{item.image_name.replace(project.unique_code + "/","")}}
                        </small>
                    </span>
                </div>

                <!--image-->
                <div class="col-md-2" ng-if="project.task.selectedTaskType !='ngs'" >
                    <img style="width: 75px;cursor: pointer;"  class="img-thumbnail"
                         ng-src="{{getTutorialImage(item.image_name,item.in_dataset)}}"
                         ng-click="showBiggerImage(item.image_name,item.in_dataset)">
                </div>

                <div class="col-md-2" ng-if="project.task.selectedTaskType =='ngs'" >
                    <img style="width: 75px;cursor: pointer;"  class="img-thumbnail"
                         src="../../../images/placeholder-image.png"
                         ng-click="showNGSPreview(location_dict[item.image_name])">
                </div>


                <!-- pick answer from template-->
                <div class="col-md-2" >
                    <select class="form-control" ng-model="item.answer" >
                        <option ng-repeat="x in project.task.options" value="{{x.text}}" > {{x.text}}  </option>
                    </select>
                </div>

                <!--ask user: checkbox-->
                <div class="col-md-1">
                    <label class="col-form-label" >
                        <input type="checkbox" name="{{item.ask_user}}"  ng-model="item.ask_user"
                               ng-value="item.ask_user"
                               ng-true-value="1"
                               ng-false-value="0"
                               ng-checked="item.ask_user == 1"  />
                        <span class="option-add-btn">  </span>
                    </label>
                </div>


                <!--remove answer-->
                <div class="col-md-2 pull-right">
                <span class="" ng-click="deleteTutorialItem($index)" style="color:#DC1F3A;cursor: pointer;">
                <span class="fa fa-minus"></span>
                    <span>REMOVE ITEM</span>
            </span>
                </div>

                <br>
                <br>

            </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="txt">
                            Explanation:
                            <span class="" ng-click="previewExplanation(item.explanation)" style="color:#9cdc1f;cursor: pointer;">
                            <i cs-tooltip class="fa fa-eye" data-toggle="tooltip"
                               data-placement="right" style="color: #9cdc1f;"
                               title="See a preview of what the explanation looks like. Useful when inputting html code. ">
                    </i>
                        </p>
                        <textarea class="form-control" ng-model="item.explanation" rows="2" placeholder="Type your explanation here."></textarea>
                    </div>
                </div>

            <hr>
            </div>
            <br>
            <br>


            <div class="row">
                <div class="col-md-12">
            <span class="option-add-btn" ng-click="addTutorialItem()" style="top:0px;">
                <span class="fa fa-plus"></span>
                <span>ADD ITEM</span>
            </span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button style="border: none;"
                            ng-if="tutorial_items.length"
                            class="next-btn btn btn-primary btn btn-block"
                            ng-click="setTutorialItems()" >{{add_tutorial_text}}</button>
                </div>
                <div class="col-md-4"></div>

            </div>




        </div>



    </div>


</div>