<!--
File to upload images for the project.
-->

<div class="step-4">
    <div class="holder">

    <span class="txt" >Upload Images</span>


    <div class="buttons" ng-show="project.task.selectedTaskType != 'ngs'"  >

    <div class="upload-button" ng-class="{'active': uploadMethod == 1}" ng-click="uploadMethod = 1">
        <span class="title"><i class="fa fa-check-circle sel-check"></i>Local Upload</span>
        <span class="msg"> Upload a compressed .tar or .zip file containing the images.  </span>
    </div>

    <div class="upload-button" ng-class="{'active': uploadMethod == 0}" ng-click="uploadMethod = 0">
        <span class="title"><i class="fa fa-check-circle sel-check"></i>Cloud Upload</span>
        <!--<span class="msg">Upload images using cloud services like Dropbox.</span>-->
        <span class="msg">Upload images using cloud services like Dropbox.</span>

    </div>
        <div style="clear: both;">

        </div>

    </div>

        <!--ask if we need the coordinates functionality-->
        <div style="color: white;margin-top: 10px;" ng-show="project.task.selectedTaskType == 'tagging'">
            <label style="font-weight: 400">Images have coordinates (Uncheck if creating a simple labelling project)
                <input type="checkbox" ng-model="project.hasLocation" style="margin-left: 20px;" checked="checked">
            </label>
        </div>

        <!--ask if it is AR READY (cannot apply to ngs types)-->
        <div style="color: white;margin-top: 10px;" ng-show="project.task.selectedTaskType != 'ngs'">
            <label style="font-weight: 400">Upload is Tile-o-Scope AR Ready  (Check if uploading tile images along with .json files)
                <input type="checkbox" ng-model="project.ar_ready" style="margin-left: 20px;" checked="unchecked">
            </label>
        </div>



        <span class="txt" ng-if="project.task.selectedTaskType != 'ngs' && uploadMethod == 0 ">
            Upload Dataset Link
        </span>
        <span class="txt" ng-if="project.task.selectedTaskType == 'ngs' ">
            Input NGS Map URL. Click <a target="_blank" href="https://storms.ngs.noaa.gov/">here</a> to view some examples.
        </span>
        <div ng-show="project.task.selectedTaskType != 'ngs' && uploadMethod == 0 ">
            <input class="invite" placeholder="Data set URL here..." ng-model="project.dataSetLink">
        </div>
        <div ng-show="project.task.selectedTaskType == 'ngs' ">
            <input class="invite" placeholder="NGS map URL here..." ng-model="project.dataSetLink">
        </div>
        <div style="margin-top: 20px;color: white;" ng-show="project.task.selectedTaskType != 'ngs' && uploadMethod == 0 ">
            <label style="font-weight: 400">Show Advanced Settings
                <input type="checkbox" ng-model="showAdvancedSettings" style="margin-left: 20px;"></label>
        </div>

        <div ng-show="showAdvancedSettings" style="margin-top: 20px">
            <input class="invite" placeholder="Add filter here using * and ?" ng-model="project.regex">
            <i title="More Info..." data-toggle="modal" data-target="#examplesModal" style="color: white; font-size: 12px;margin-left: 10px; cursor: pointer" class="fa fa-question-circle"></i>
        </div>

        <!-- import button: cloud -->
        <div ng-show="project.task.selectedTaskType != 'ngs' && uploadMethod == 0 ">
            <button class="invite-btn" ng-click="sendDataSet()" ng-disabled="project.dataSetID">IMPORT</button>

        </div>


        <div ng-show="project.task.selectedTaskType != 'ngs' && uploadMethod == 1">

            <span class="txt">
            Upload Folder
            </span>
            <br>

            <form >
                <button class="btn" ngf-select="" ng-model="file" >Select File</button> <span class="txt">{{file.name}}</span>
                <br>
                <br>
                <button ng-show="project.task.selectedTaskType != 'slider'" type="submit" class="invite-btn" ng-click="sendDataSetLocal(0)" ng-disabled="project.dataSetID">IMPORT</button>
                <button ng-show="project.task.selectedTaskType == 'slider'" type="submit" class="invite-btn" ng-click="sendDataSetLocal(1)" ng-disabled="project.dataSetID">IMPORT</button>

            </form>

            <span class="msg">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="txt">
                  You can leave this page after uploading. An email will be sent when the images are ready.
                </span>
            </span>
        </div>

        <div ng-show="project.task.selectedTaskType == 'ngs' ">

            <span class="txt">
            AND: Upload a .zip or .tar containing at least one .csv file with locations. Each .csv should have the following columns: latitude, longtitude, name.
            </span>
            <br>


            <form >
                <button class="btn" ngf-select="" ng-model="file" >Select File</button> <span class="txt">{{file.name}}</span>
                <br>
                <br>
                <button type="submit" class="invite-btn" ng-click="sendDataSetNGS()" ng-disabled="project.dataSetID">IMPORT</button>
            </form>



            <span class="msg">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="txt">
                  You can leave this page after uploading. An email will be sent when the images are ready.
                </span>
            </span>
        </div>

        <div>
            <!--<span ng-show="project.dataSetID" class="txt">-->
                    <!--Data set successfully uploaded. You can check the progress <a href="{{getProgressUrl()}}"-->
                                                                                  <!--target="_blank">here</a>-->
                <!--</span>-->
            <div  ng-show="showUploadProgress">
                <div class="progress" style="width:50%;margin-left: 1%;">
                    <div  class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="{{progressPercentage}}"
                          aria-valuemin="0" aria-valuemax="100" ng-style="uploadProgressStyle">
                    </div>
                </div>
                <span ng-hide="project.dataSetID" class="txt"> Upload Progress </span>
                <span ng-show="project.dataSetID" class="txt">
                Data set successfully uploaded. You can check the progress <a href="{{getProgressUrl()}}"
                target="_blank">here</a>
                </span>
            </div>
        </div>
    </div>

    <div id="examplesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Examples</h4>
                </div>
                <div class="modal-body">
                    <p><b>*.jpg</b> matches all the JPEG files on the server like <i>foo.jpg</i>, <i>bar.jpg</i>, <i>foo_bar.jpg</i></p>
                    <p><b>foo*.jpg</b> matches all the JPEG files on the server starting with foo like <i>foo1.jpg</i> <i>foo_bar.jpg</i></p>
                    <p><b>foo???.jpg</b> matches all the JPEG files on the server starting with foo and have three more characters after foo like <i>foobar.jpg</i> but not <i>foo1.jpg</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
