<!--
File Title of the project.
-->
<div class="step-1">
    <div class="row">
        <div class="col-md-6">
            <div ng-switch on="::project.editing">
                <span>
                    Project Name*
                    <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                       data-placement="right" style="margin-left: 10px;color: #9ACA3C;"
                       title="The full title of your project. This will be shown in the project page in Cartoscope."></i>
                </span>
                <input ng-switch-when="true" ng-model="project.name">
                <input ng-switch-when="false" ng-model="project.name">
            </div>
            <div ng-switch on="::project.editing">
                <span>
                    Short Name*
                </span>
                <!--Make sure short name cannot be edited once added-->
                <input ng-switch-when="true" ng-model="project.short_name" readonly>
                <input ng-switch-when="false" ng-model="project.short_name">
            </div>
            <div ng-switch on="::project.editing">
                <span>
                    Short Name (Friendly)*
                    <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                       data-placement="right" style="margin-left: 10px;color: #9ACA3C;"
                       title="A short title for your project. This is used in Tile-o-Scope AR."></i>
                </span>
                <!--Short name friendly can always be edited-->
                <input ng-switch-when="true" ng-model="project.short_name_friendly" >
                <input ng-switch-when="false" ng-model="project.short_name_friendly">
            </div>
            <div>
                <span>
                    Description*
                    <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                       data-placement="right" style="margin-left: 10px;color: #9ACA3C;"
                       title="A full description of your project."></i>
                </span>
                <textarea ng-model="project.description"></textarea>
            </div>
            <div>
                <span>
                    Short Description*
                    <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                                          data-placement="right" style="margin-left: 10px;color: #9ACA3C;"
                                          title="Make it short and sweet! In one or two sentences,
                                           summarize the goal of the project.
                                           Short descriptions are used in Tile-o-Scope AR."></i>

                </span>
                <textarea ng-model="project.short_description"></textarea>
            </div>


        </div>
        <!-- <div class="col-md-6">
            <span>
                Project Image
                <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                   data-placement="right" style="margin-left: 10px"
                   title="This image will be used to represent your project on the website."></i>
            </span>
            <label class="file-sel">
                {{coverPic.name || "Select Image"}}
                <input type="file" accept="image/*" file-model="coverPic">
            </label>

            <div>
                <canvas id="imageCanvas" style="max-height: 200px;width: auto;"></canvas>
            </div>
        </div> -->


    </div>

    <div class="row">
        <span class="txt"><h4>Additional Features: </h4></span>
    </div>

    <!--inaturalist-->
    <div class="row">
        <div class="col-md-2">
            <span>
            iNaturalist Project
                <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
                   data-placement="right" style="margin-left: 10px; color: #9ACA3C;"
                   title="Enables features like reporting identifications back to iNaturalist. Make sure all images are
                    accompanied by a .json file with necessary information.">
        </i>
             </span>

        </div>
        <div class="col-md-1"><input type="checkbox" ng-model="project.is_inaturalist"  checked="checked"></div>
    </div>
    <!--sci starter:-->
    <div class="row">
        <div class="col-md-2">
            <span>SciStarter Project
            <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
               data-placement="right" style="margin-left:15px; color: #9ACA3C;"
               title="Check if you wish users to report back to SciStarter.">
            </i>
            </span>
        </div>

        <div class="col-md-1"><input type="checkbox" ng-model="has_scistarter"  checked="checked"></div>
        <div class="col-md-4" ng-show="has_scistarter">
            <input type="url" class="invite" placeholder="SciStarter form URL here..." ng-model="project.scistarter_link">
        </div>
    </div>
    <!--external sign up-->
    <div class="row">
        <div class="col-md-2">
            <span>External Sign Up
            <i cs-tooltip class="fa fa-question-circle" data-toggle="tooltip"
               data-placement="right" style="margin-left: 19px; color: #9ACA3C;"
               title="Check if you wish to embed an additional external form, for example for users to sign up.">
            </i>
            </span>
        </div>

        <div class="col-md-1"> <input type="checkbox" ng-model="has_external_signup"  checked="checked"></div>
        <div class="col-md-4" ng-show="has_external_signup">
            <input type="url" class="invite" placeholder="External form URL here..." ng-model="project.external_sign_up">
        </div>
    </div>
</div>