<div class="container center-1">

        <div class="row intro" ng-controller="kioskController" style="text-align: center">
            <h1 class="col-sm-12 projectName" style="color: white;font-size: 36px;"><span style="font-size: 20px;">WELCOME TO</span></br>
                <b><span style="color:black;">ALGAL BLOOM TRACKING</span></b></h1>
            <p class="description" style="font-size: 24px; color: white;">
                Algae (Cyanobacteria) can make water undrinkable as well as kill fish and other aquatic life.<br>
                    In 2014 toxic algal blooms left 500,000 people in the Northwest Ohio without water.
                    <br>Help researchers model how algae spreads by monitoring and analyzing aerial images of Lake Erie.
            </p>
        </div>

        <br>
        <br>
        <div class="row" style="text-align: center;margin-bottom:20px;">
            <a ng-click="begin()" href="#">
                <img src="../../images/contribute_btn_on.png"
                     onmouseover="this.src='../../images/contribute_btn_hover.png'"
                     onmouseleave="this.src='../../images/contribute_btn_on.png'"
                     class="contribute"/>
            </a>
        </div>
        <div class="row">
            <div style="text-align: center;margin: 1%;margin-top:2%;">
                <p>Follow the project on:</p><a href="https://github.com/crowdgames/cartoscope-backend">
                    <img src="../../images/github-logo.png" alt="Github" style="width: 150px; height: 50px;"/>
                </a>
            </div>
        </div>
</div>
