<h3 class="title">Instructions</h3>
<div class="content">
    <div class="row instructions">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol>
                <li>Click START to begin rating images. For each image, answer the question that appears beneath the image</li>
                <li>When you are done rating, click the Go To Survey button to complete a short survey, after which your HIT will be
                    completed.</li>
                <li>Please do not use your browser's back button while rating images or taking the survey.</li>
                <li>If you complete the survey, your submission will be approved.</li>
                <li>You may complete any number of subtasks before clicking the "Go to Survey" button to finish.</li>
            </ol>
        </div>
    </div>

    <div class="agree-btn-row">
        <button ng-click="showExamples()" class="consent-button">Show Examples</button>
    </div>
</div>