body {
    /*background: url('../images/background_dktp.png') no-repeat center center fixed;*/
    background-color: #D8D3D6;
    /*background-color: #3C6478;*/

    color: black ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    /*color: #f8f8ff;*/
}
.title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.content {
    text-align: left ;
    margin-right:8%;
    margin-left:8%;
    /*margin-top:2%;*/

}
.content > .row {
    margin-top:1%;
}
.content > .agree-btn-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1%;
}
#tut_correct_ans, #tut_text {
    text-align: left;
}
.consent-button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #9cdc1f;
    color: #000;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 8px 22px;
    font-weight: bold;
    width: 33%;
}


#marker_legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    float: left;
    color: black;
}
#marker_legend h6 {
    margin-top: 0;
    font-weight:bold;
}
#marker_legend img {
    max-width:10%;
    max-height:10%;
}


.marker_legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    float: left;
    color: black;
}
.marker_legend h6 {
    margin-top: 0;
    font-weight:bold;
}
.marker_legend img {
    max-width:10%;
    max-height:10%;
}

.map_button_kiosk {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    float: left;
    color: black;
    font-size: 14px;
}


#tut_question, .tut_answer {
    text-align: center;
}
.tut_answer{
    width: 150px;
    height:50px;
    padding: 2px;
    font-weight: 600;
    white-space: normal;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    margin: 5px 10px;
    color: black;
    text-transform: uppercase;
}


.tut_image {
    max-width: 450px;
}

.instructions {
    font-size: 2em;
    font-weight: bold;
}
.img-border {
    border: 10px white solid;
}


#marker_legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    float: left;
    color:black
}
#marker_legend h6 {
    margin-top: 0;
    font-weight:bold;

}
#marker_legend img {
    max-width:10%;
    max-height:10%;
}

.inat_report_thumbnail {
    border: 1px solid #ddd;
    transition: box-shadow .3s;

    border-radius: 4px;
    padding: 5px;
    width: 50px;"
}

.inat_report_thumbnail:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

@media (orientation: portrait) and (max-width: 786px) {
    .consent-button {
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 50px;
        width: 100%;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        margin-top: 20px;
    }
    #correct-note {
        text-align: center;
        margin-bottom: 50px;
    }

    .tut_answer{
       width: 80%;
    }
}