.angular-google-map-container { height: 400px; }

#project_map.angular-google-map-container { width: 100px }

.legendClass {
    font-family: Arial, sans-serif;
    color: #000;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    opacity: 0.75;
    position: absolute;
    bottom: 0;
}

.black {
    color: #000000;
}


@media (orientation: portrait) and (max-width: 786px) {
    .legendClass {
        font-family: Arial, sans-serif;
        color: #000;
        background: #fff;
        padding: 5px;
        margin: 5px;
        border: 3px solid #000;
        opacity: 0.75;
        position: absolute;
        bottom: 0;
        width: 80px;
    }
}

button:hover {
    opacity: 0.5;
}

button{
    white-space: normal !important;
}