* {
  font-family: 'Montserrat', sans-serif;
}
body.mask {
  overflow: hidden;
}
body.mask .ui-mask-modal {
  display: block;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2147483647;
}
body {
  background-color: #26272a;
}
h1, h2, h3, h4, h5 {
  color: white;
}
.cairn-message {
  color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 2s;
  animation: slidein 0.5s forwards;
}
@keyframes slidein {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
  }
  to {
    max-height: 1000px;
    transform: scale(1);
    opacity: 1;
  }
}
.parent-view {
  display: flex;
  flex-direction: column;
}
.parent-view .task-body {
  align-self: center;
}
.parent-view .task-body .top-panel {
  display: flex;
  flex-direction: column;
}
.parent-view .task-body .top-panel .indicator {
  text-align: center;
  color: white;
  font-size: 20px;
}
.parent-view .task-body .top-panel .photo {
  border: 5px solid white;
  height: 450px;
  width: 600px;
  align-self: center;
}
.parent-view .task-body .top-panel .photo img {
  height: 100%;
  width: 100%;
}
.parent-view .task-body .bottom-panel .question {
  color: white;
  font-size: 18px;
  text-align: center;
}
.parent-view .task-body .answers {
  margin-top: 10px;
}
.parent-view .task-body .answers .c1 {
  background-color: #9ACA3C;
  border-color: #9ACA3C;
}
.parent-view .task-body .answers .c2 {
  background-color: #F5EA69;
  border-color: #F5EA69;
}
.parent-view .task-body .answers .c3 {
  background-color: #F7941D;
  border-color: #F7941D;
}
.parent-view .task-body .answers .c4 {
  background-color: #DC1F3A;
  border-color: #DC1F3A;
}
.parent-view .task-body .answers .c5 {
  background-color: #0072BC;
  border-color: #0072BC;
}
.parent-view .task-body .answers .c6 {
  background-color: #8560A8;
  border-color: #8560A8;
}
.parent-view .task-body .answers button {
  width: 150px;
  padding: 5px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  margin: 5px 20px;
}
