* {
  font-family: 'Montserrat', sans-serif;
}
body.mask {
  overflow: hidden;
}
body.mask .ui-mask-modal {
  display: block;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2147483647;
}
h1, h2, h3, h4, h5 {
  color: white;
}
#cairn-sidebar-header {
  color: black;
}
.cairn-message {
  color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 2s;
  animation: slidein 0.5s forwards;
}
@keyframes slidein {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
  }
  to {
    max-height: 1000px;
    transform: scale(1);
    opacity: 1;
  }
}
.parent-view {
  display: flex;
  flex-direction: column;
}
.parent-view .task-body {
  align-self: center;
}
.parent-view .task-body .top-panel {
  display: flex;
  flex-direction: column;
}
.parent-view .task-body .top-panel .indicator {
  text-align: center;
  color: white;
  font-size: 20px;
}
.parent-view .task-body .top-panel .photo {
  border: 5px solid white;
  height: 450px;
  width: 600px;
  align-self: center;
}
.parent-view .task-body .top-panel .photo img {
  height: 100%;
  width: 100%;
}
.parent-view .task-body .bottom-panel .question {
  color: white;
  font-size: 18px;
  text-align: center;
}
.parent-view .task-body .answers {
  margin-top: 10px;
}
.parent-view .task-body .answers .c1 {
  background-color: #9ACA3C;
  border-color: #9ACA3C;
}
.parent-view .task-body .answers .c2 {
  background-color: #F5EA69;
  border-color: #F5EA69;
}
.parent-view .task-body .answers .c3 {
  background-color: #F7941D;
  border-color: #F7941D;
}
.parent-view .task-body .answers .c4 {
  background-color: #DC1F3A;
  border-color: #DC1F3A;
}
.parent-view .task-body .answers .c5 {
  background-color: #0072BC;
  border-color: #0072BC;
}
.parent-view .task-body .answers .c6 {
  background-color: #8560A8;
  border-color: #8560A8;
}
.parent-view .task-body .answers button {
  width: 150px;
  padding: 5px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  margin: 5px 20px;
}
/*progress::-webkit-progress-bar {*/
/*  background-color: red;*/
/*}*/
/*progress::-webkit-progress-value {*/
/*  background-color: #039603 !important;*/
/*}*/
progress {
  display:block;
  width:100%;
  height:50px;
  padding:15px 0 0 0;
  margin:0;
  background:none;
  border: 0;
  border-radius:50px;
  text-align: left;
  position:relative;
  font-family:"Helvetica Neue", arial, sans-serif;
  font-size:15px;
}
progress::-webkit-progress-bar {
  height:40px;
  width:80%;
  padding-left:0px;
  margin:0 auto;
  background-color:red;
  border-radius:100px;
}
progress::-webkit-progress-value {
  display:inline-block;
  float:left;
  height:40px;
  margin:0px -10px 0 0;
  padding-left:50px; /* Rounded corners requires a padding */
  /*background:green;*/
  border-radius:100px;
}
progress:after {
  margin:-25px 0 0 -32px;
  padding:0;
  display:inline-block; /* Here is the magic to move with the progress */
  float:left;
  content: attr(value) '%';
  color:black;
}