body {
    /*background-color: #26272a;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    /* background-image: url('../images/task-bkg.png'); */
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body.mask {
    overflow: hidden;
    overflow-y: auto;
}
body.mask .ui-mask-modal {
    display: block;
    background-color: white;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 2147483647;
}
.survey-bttn{
    margin-top: 3%;
    text-align: center;
}
.header-btn{
    margin-left:65%;
}
.navbar{
    /* background-color:#26272a; */
}
.navbar-top {
    height: 60px;
}
.navbar-bottom{
    padding-bottom: 20px;
}

/* .navbar-text {
    color: white;
} */
label {
    color: white;
    font-size: 24px;
}

select {
    font-size: 24px;
}

.img-title{
    color: white;
    text-align: center;
    /*font-size: 20px;*/
    text-transform: uppercase;
}
img{
    margin:0 auto;
    cursor: pointer;
}
#img{
    overflow: hidden;
}
.img-task{
    margin:0 auto;
    border: 2px solid white;
}

.options {
    text-transform: uppercase;
}

/*.task-body > .row {*/
    /*margin-top:1%;*/
/*}*/

.parent-view .task-body .answers {
    margin-top: 10px;
    text-align: center;
}
.parent-view .task-body .answers .c1 {
    background-color: #9ACA3C;
    border-color: #9ACA3C;
}


.parent-view .task-body .answers .c2 {
    background-color: #F5EA69;
    border-color: #F5EA69;
}
.parent-view .task-body .answers .c3 {
    background-color: #F7941D;
    border-color: #F7941D;
}
.parent-view .task-body .answers .c4 {
    background-color: #DC1F3A;
    border-color: #DC1F3A;
}
.parent-view .task-body .answers .c5 {
    background-color: #0072BC;
    border-color: #0072BC;
}
.parent-view .task-body .answers .c6 {
    background-color: #8560A8;
    border-color: #8560A8;
}
.parent-view .task-body .answers button {
    width: 150px;
    height: 50px;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    margin: 5px 10px;
    white-space: normal;
    text-transform: uppercase;


}

.task-body{
    width: 87%;
    margin-left: 0;
    margin-right: 0;
}

.contribution-details{
    position: relative;
    text-align: center;
    font-weight: 400;
    margin-top: -20px;
}

.done-button{
    margin-top: 5px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.75em;
    background-color:white;
    color: black;
    border: none;
}
button:hover{
    opacity: 1 !important;
}

.done-button:hover{
    background-color: #EDE9E8;
}

.options:hover {
    background-color: #EDE9E8;
    /*border: 5px #9ACA3C solid;*/
}

.imgDiv{
    /*width: 370px;*/
    /*height: 300px;*/
    width: 450px;
    height: 400px;
    /*display: inline;*/

}

.mapDiv{
    /*width: 370px;*/
    /*height: 300px;*/
    width: 450px;
    height: 400px;
    /*display: inline;*/
    /*margin-left: 18%;*/
}

.iframeDiv{
    width: 100%;
    height: 400px;
}


.sliderDiv {
    width: 80%;
    height: 80%;}


div.juxtapose {
    width: 600px;
    height: 600px;
}

div.jx-slider {
    max-width: 600px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cairnButton, .cairnButton2{
    background-image: url('../images/cairn2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    color: #FFFFFF;
    font-size: 18px;
    /*background-repeat: no-repeat;*/
    padding: 40px 0;
    text-align: center;
    margin-bottom: 10px;
}


.cairnButton:hover{
    opacity: 0.80;
    cursor: pointer;
}



#maps {
    display: flex;
    justify-content: center;
    align-items: center;
}


.row .mapQuestion{
    color: white;
    text-transform: capitalize;
}

.imgProgress {
    color: white;
}




#marker_legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    float: left;
}
#marker_legend h6 {
    margin-top: 0;
    font-weight:bold;
}
#marker_legend img {
    max-width:10%;
    max-height:10%;
}

.progress-bar-title {
    position: absolute;
    text-align: center;
    overflow: hidden;
    color: black;
    right: 0;
    left: 0;
    margin-top:10px;
}

.tut-thumbnail {
    width: 50px;
    height: 50px;
}



/* Image Modal Content  */
.im-modal-content {
    margin: auto;
    display: block;
    width: 100%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}




@media (max-width: 768px) {
    .done-button{
        background-color:#9ACA3C;
        text-transform: uppercase;
        margin-top:0;
        top:0;
        right:0;
        left:0;
        position: fixed;
        margin-bottom: 300px;
        height: 50px;
        width: 100%;
        font-weight: bolder;
    }

    .contribution-details{
        margin-top: 50px;
        position: relative;
        text-align: center;
    }

    .img-title{
        margin-top: 40px;
    }

    .parent-view .task-body .answers{
        margin-top: 10px;
    }

    .row .mapQuestion{
        margin-top: 40px;
        color: white;
        text-transform: capitalize;
    }

    #maps{
        display:block;
        justify-content: center;
        align-items: center;
    }

    .imgDiv{
        width: 100%;
        margin-top: 20px;
        height: 250px;
    }

    .mapDiv{
        width: 100%;
        height: 250px;
        margin-left: 0%;
    }

    #mapQuestion{
        margin-top: 68px;
    }



    body, .task-body{
        max-width:100%
    }


    div.juxtapose {
        width: 350px;
        height: 350px;
    }


}

.task-body{
    line-height:30px;
    text-align: center;
}
.task-body .maingame-body {
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #EDE9E8;
}
.task-body .maingame-progress-bar {
    height:5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:#EDE9E8;
    font-size:18px;
    font-weight:bold;
    font-family:verdana;
    display:block;
    color:white;
    display:block;
    padding:10px;
    border: 2px solid #EDE9E8;
    border-bottom:none;
}

.progress-bar-div{
    /* height: 30px;
    width: 100%; */
    margin-top: 5px;
    border-radius: 10px;
    margin: 18px auto;
    text-align: center;
    width :100%;
    height: 23px;
    background-color: white;
}

.text-center{
    text-align:center;
}

.progress-bar-success{
    background-color:#9ACA3C;
}

.image-number{
    background: #FEFEFE;
    border: 1px solid #221D1B;
    box-sizing: border-box;
    border-radius: 5px;
    width: 72px;
    height: 70px;
    color: #221D1B;
    font-size: 14px;
    display: inline-block;
}

.image-number h5{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 20px;
align-items: center;
text-align: center;
color: #221D1B;
}

.modal-image-explanation{
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #221D1B;
width:550px;
height:200px;
text-align:center;
margin-bottom:1em;
}

.h1,h2,h3,h4,h5,h6 .modal-title{
    color:black;
}

.help-modal-title{
    font-weight: 700;
}
.modal-header {
    padding: 25px;
}

.btnTextBlack{
    color:black;
}

.help-modal-footer{
    justify-content: center;
    align-items: center;
    display: flex;
}

.help-modal-body{
    color: black;
    border: 3px solid #9ACA3C;
}

.btn-success {
    color: black;
    background-color: #9ACA3C;
    border-color: #9ACA3C;
    width: 12em;
}

.btn-success:hover {
    background-color: #779c2d;
    border: 5px #779c2d solid;
    color:black;
    opacity: 1.5;
}

.modal-help-tabs {
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    margin-right: 5%;
    width: 45%;
    line-height:2em;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #221D1B;
}
.help-tabs{
    background: #F6F4F3;
    display: inline-block;
}

.help-tab-active{
    background-color: white;
    border: 3px solid #9ACA3C;
    border-bottom: none;
}